/* About Default Styles
 * ---------------------
 * default.css is used to establish general rules, browser reset, or admin user interface styles.
 *
 * Browser Reset
 * -------------
 * For a more complete reset, go to http://developer.yahoo.com/yui/reset/ */
/* line 9, ../sass/default.sass */
/* line 10, ../../src/sass/partials/_reset.sass */
* {
  margin: 0;
  padding: 0;
}

/* Clear Floats Without Structural Markup
 * ---------------------------------------
 * http://www.positioniseverything.net/easyclearing.html */
/* line 17, ../sass/default.sass */
/* line 19, ../../src/sass/partials/_reset.sass */
.clearfix {
  display: inline-block;
}
/* line 21, ../../src/sass/partials/_reset.sass */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 19, ../sass/default.sass */
/* Hides from IE-mac \ */
/* line 27, ../sass/default.sass */
/* line 33, ../../src/sass/partials/_reset.sass */
* html .clearfix {
  height: 1%;
}

/* End hide from IE-mac */
/* clear classes */
/* line 36, ../sass/default.sass */
/* line 40, ../../src/sass/partials/_reset.sass */
.clearleft, .clearl, .cleft {
  clear: left;
}

/* line 39, ../sass/default.sass */
/* line 45, ../../src/sass/partials/_reset.sass */
.clearright, .clearr, .cright {
  clear: right;
}

/* line 42, ../sass/default.sass */
/* line 50, ../../src/sass/partials/_reset.sass */
.clear, .clearboth, .clearall {
  clear: both;
}

/* Float classes */
/* line 46, ../sass/default.sass */
/* line 56, ../../src/sass/partials/_reset.sass */
.floatleft, .fleft, .floatl {
  float: left;
  margin: 0 10px 5px 0;
}

/* line 50, ../sass/default.sass */
/* line 62, ../../src/sass/partials/_reset.sass */
.floatright, .fright, .floatr {
  float: right;
  margin: 0 0 5px 10px;
}

/* line 66, ../../src/sass/partials/_reset.sass */
.it {
  font-style: italic;
}

/* line 69, ../../src/sass/partials/_reset.sass */
.st {
  font-weight: bold;
}

/* "Skip to Main Content" link
 * ---------------------------
 * This link useful for both visually impaired people and those with mobility impairments
 * who cannot use a mouse. http://www.webaim.org/techniques/css/invisiblecontent/ */
/* line 60, ../sass/default.sass */
/* line 79, ../../src/sass/partials/_reset.sass */
#skip a:link, #skip a:hover, #skip a:visited {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* line 86, ../../src/sass/partials/_reset.sass */
#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

/* line 67, ../sass/default.sass */
/* bug fix with views 2 edit links. */
/* line 73, ../sass/default.sass */
/* line 97, ../../src/sass/partials/_reset.sass */
div.view div.views-admin-links {
  width: auto;
}
/* line 99, ../../src/sass/partials/_reset.sass */
div.block {
  position: relative;
}
/* line 101, ../../src/sass/partials/_reset.sass */
div.block .edit {
  display: none;
  position: absolute;
  right: -20px;
  top: -5px;
  z-index: 40;
  padding: 3px 8px 0;
  font-size: 10px;
  line-height: 16px;
  background-color: white;
  border: 1px solid #cccccc;
  /*let's get fancy! */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: -1px 1px 2px #666666;
}
/* line 117, ../../src/sass/partials/_reset.sass */
div.block .edit a {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
/* line 122, ../../src/sass/partials/_reset.sass */
div.block:hover .edit {
  display: block;
}

/* Rollover edit links for blocks. */
/* line 77, ../sass/default.sass */
/* line 79, ../sass/default.sass */
/* line 95, ../sass/default.sass */
/* line 100, ../sass/default.sass */
/* Author: Nesta */
/* Grid overlay */
/* line 5, ../../src/sass/partials/_grid.sass */
body.pajama {
  /*background: url(http://griddle.it/940-16-10?color=99CCFF&background=CCFFFF&text=ffffff) repeat-y center top!important /* change ej: griddle.it/XXX-XX-XX?color=XXXXXX&background=XXXXXX&text=XXXXXX */
  background: url(http://960.gs/img/16_col.gif) repeat-y center top !important;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

/* line 10, ../../src/sass/partials/_grid.sass */
#pajama {
  display: none;
}

/* line 13, ../../src/sass/partials/_grid.sass */
.logged-in #pajama {
  width: 80px;
  height: 30px;
  border: 1px solid #669966;
  padding: 5px 0;
  color: white;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: #666666 0px 2px 8px;
  -moz-box-shadow: #666666 0px 2px 8px;
  box-shadow: #666666 0px 2px 8px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(black), to(#fafafa));
  background: -webkit-linear-gradient(black, #fafafa);
  background: -moz-linear-gradient(black, #fafafa);
  background: -ms-linear-gradient(black, #fafafa);
  background: -o-linear-gradient(black, #fafafa);
  background: linear-gradient(black, #fafafa);
  -pie-background: linear-gradient(black, #fafafa);
  display: block;
}

/* line 37, ../../src/sass/partials/_grid.sass */
.btn-pajama {
  left: auto !important;
  top: auto !important;
  overflow: visible !important;
}

/* Modify for Nesta - original basic project's http://drupal.org/project/basic */
/* Begin Font styles. */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 17, 2011 10:11:43 AM America/New_York */
@font-face {
  font-family: "DanielBlackRegular";
  src: url("../font/danielbk-webfont.eot");
  src: url("../font/danielbk-webfont.eot?#iefix") format("eot"), url("../font/danielbk-webfont.woff") format("woff"), url("../font/danielbk-webfont.ttf") format("truetype"), url("../font/danielbk-webfont.svg#webfontImkyUcTL") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 16, ../../src/sass/partials/_default.sass */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, Verdana, Geneva, sans-serif;
  color: #333333;
  background: url(../images/pattern.png) 0 0 repeat;
}

/* Links */
/* line 27, ../../src/sass/partials/_default.sass */
a:link, a:visited {
  color: #003366;
  text-decoration: none;
  border-bottom: 0;
}
/* line 31, ../../src/sass/partials/_default.sass */
a:hover, a:active {
  text-decoration: underline;
  border-bottom: 0;
}

/* line 37, ../../src/sass/partials/_default.sass */
#main a:link, #main a:visited {
  color: #003366;
  text-decoration: none;
  border-bottom: 2px solid #a8bfcf;
}
/* line 41, ../../src/sass/partials/_default.sass */
#main a:hover, #main a:active {
  text-decoration: none;
  border-bottom: 2px solid #005a9c;
}
/* line 45, ../../src/sass/partials/_default.sass */
#main ul.primary li a, #main .menu-name-primary-links li a {
  border: 0;
}

/* Titles. */
/* line 50, ../../src/sass/partials/_default.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

/* line 53, ../../src/sass/partials/_default.sass */
h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
  font-family: "DanielBlackRegular";
}

/* line 60, ../../src/sass/partials/_default.sass */
h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0.75em;
  font-family: "DanielBlackRegular";
}

/* line 67, ../../src/sass/partials/_default.sass */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
  font-family: "DanielBlackRegular";
}

/* line 72, ../../src/sass/partials/_default.sass */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 76, ../../src/sass/partials/_default.sass */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 81, ../../src/sass/partials/_default.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
/* line 86, ../../src/sass/partials/_default.sass */
p {
  margin: 0 0 1em 0;
}

/* List styles. */
/* line 91, ../../src/sass/partials/_default.sass */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table styles. */
/* line 97, ../../src/sass/partials/_default.sass */
table {
  width: 99%;
}

/* line 101, ../../src/sass/partials/_default.sass */
tr.even td {
  padding: 10px 5px;
}
/* line 103, ../../src/sass/partials/_default.sass */
tr.odd {
  background-color: white;
}
/* line 104, ../../src/sass/partials/_default.sass */
tr.odd td {
  padding: 10px 5px;
}

/* Code. */
/* line 110, ../../src/sass/partials/_default.sass */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 114, ../../src/sass/partials/_default.sass */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 123, ../../src/sass/partials/_default.sass */
ul {
  list-style-type: disc;
}
/* line 125, ../../src/sass/partials/_default.sass */
ul ul {
  list-style-type: circle;
}
/* line 127, ../../src/sass/partials/_default.sass */
ul ul ul {
  list-style-type: square;
}
/* line 129, ../../src/sass/partials/_default.sass */
ul ul ul ul {
  list-style-type: circle;
}

/* line 132, ../../src/sass/partials/_default.sass */
ol {
  list-style-type: decimal;
}
/* line 134, ../../src/sass/partials/_default.sass */
ol ol {
  list-style-type: lower-alpha;
}
/* line 136, ../../src/sass/partials/_default.sass */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 141, ../../src/sass/partials/_default.sass */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments. */
/* line 148, ../../src/sass/partials/_default.sass */
#edit-title {
  font-size: 24px;
  width: 98%;
}

/* line 152, ../../src/sass/partials/_default.sass */
#system-themes-form img {
  width: 100px;
}

/* line 155, ../../src/sass/partials/_default.sass */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 162, ../../src/sass/partials/_default.sass */
#edit-delete {
  color: #cc0000;
}

/* line 166, ../../src/sass/partials/_default.sass */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #365d95;
  border: 1px solid #aaccee;
}
/* line 172, ../../src/sass/partials/_default.sass */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}
/* line 176, ../../src/sass/partials/_default.sass */
div.error {
  color: white;
  background: #d23d24;
  border-color: #dd5522;
}
/* line 180, ../../src/sass/partials/_default.sass */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #669900;
}

/* line 185, ../../src/sass/partials/_default.sass */
ul.links li {
  display: inline-block;
}

/* Author Nesta */
/* Grid Parameters */
/* Grid Width Calculations */
/* Utilites */
/* Author: Nesta */
/* Header Top */
/* Header */
/* line 9, ../../src/sass/partials/_header.sass */
#header #logo-title #logo {
  float: left;
}
/* line 12, ../../src/sass/partials/_header.sass */
#header #logo-title #name-and-slogan h1 {
  text-indent: -9999px;
}

/* Author Nesta */
/* Blocks */
/* Author Nesta */
/* Split list across multiple columns */
/* line 5, ../../src/sass/partials/_skinr.sass */
.brutus-2-col-list .inner .item-list ul li,
.brutus-2-col-list .inner ul.menu li {
  float: left;
  width: 50%;
}

/* line 10, ../../src/sass/partials/_skinr.sass */
.brutus-3-col-list .inner .item-list ul li,
.brutus-3-col-list .inner ul.menu li {
  float: left;
  width: 33%;
}

/* line 15, ../../src/sass/partials/_skinr.sass */
.brutus-2-col-list .inner .item-list ul.pager li,
.brutus-3-col-list .inner .item-list ul.pager li {
  float: none;
  width: auto;
}

/* Cols */
/* line 23, ../../src/sass/partials/_skinr.sass */
.col1 {
  width: 60px;
  float: left;
  margin: 0 10px;
}

/* line 28, ../../src/sass/partials/_skinr.sass */
.col2 {
  width: 100px;
  float: left;
  margin: 0 10px;
}

/* line 33, ../../src/sass/partials/_skinr.sass */
.col3 {
  width: 160px;
  float: left;
  margin: 0 10px;
}

/* line 38, ../../src/sass/partials/_skinr.sass */
.col4 {
  width: 220px;
  float: left;
  margin: 0 10px;
}

/* line 43, ../../src/sass/partials/_skinr.sass */
.col5 {
  width: 280px;
  float: left;
  margin: 0 10px;
}

/* line 48, ../../src/sass/partials/_skinr.sass */
.col6 {
  width: 340px;
  float: left;
  margin: 0 10px;
}

/* line 53, ../../src/sass/partials/_skinr.sass */
.col7 {
  width: 400px;
  float: left;
  margin: 0 10px;
}

/* line 58, ../../src/sass/partials/_skinr.sass */
.col8 {
  width: 460px;
  float: left;
  margin: 0 10px;
}

/* line 63, ../../src/sass/partials/_skinr.sass */
.col9 {
  width: 520px;
  float: left;
  margin: 0 10px;
}

/* line 68, ../../src/sass/partials/_skinr.sass */
.col10 {
  width: 580px;
  float: left;
  margin: 0 10px;
}

/* line 73, ../../src/sass/partials/_skinr.sass */
.col11 {
  width: 640px;
  float: left;
  margin: 0 10px;
}

/* line 78, ../../src/sass/partials/_skinr.sass */
.col12 {
  width: 700px;
  float: left;
  margin: 0 10px;
}

/* line 83, ../../src/sass/partials/_skinr.sass */
.col13 {
  width: 760px;
  float: left;
  margin: 0 10px;
}

/* line 88, ../../src/sass/partials/_skinr.sass */
.col14 {
  width: 820px;
  float: left;
  margin: 0 10px;
}

/* line 93, ../../src/sass/partials/_skinr.sass */
.col15 {
  width: 880px;
  float: left;
  margin: 0 10px;
}

/* line 98, ../../src/sass/partials/_skinr.sass */
.col16 {
  width: 940px;
  float: left;
  margin: 0 10px;
}

/* Element position */
/* line 105, ../../src/sass/partials/_skinr.sass */
.last {
  margin-right: 0;
}

/* line 108, ../../src/sass/partials/_skinr.sass */
.first {
  margin-left: 0;
}

/* line 111, ../../src/sass/partials/_skinr.sass */
.brutus-clear {
  clear: both;
}

/* line 114, ../../src/sass/partials/_skinr.sass */
div.brutus-right {
  float: right;
}

/* line 117, ../../src/sass/partials/_skinr.sass */
div.brutus-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* line 122, ../../src/sass/partials/_skinr.sass */
.brutus-center-content {
  text-align: center;
}
/* line 124, ../../src/sass/partials/_skinr.sass */
.brutus-center-content ul.menu {
  display: inline-block;
  text-align: center;
}

/* Inline list */
/* line 131, ../../src/sass/partials/_skinr.sass */
.brutus-inline ul {
  display: inline-block;
}
/* line 133, ../../src/sass/partials/_skinr.sass */
.brutus-inline ul li {
  display: inline-block;
}

/* Tabs CSS
 * --------
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal5-reference.css, line 510.) */
/* line 8, ../sass/tabs.sass */
/* line 9, ../../src/sass/partials/_tabs.sass */
div.tabs {
  margin: 0 0 5px 0;
}

/* line 11, ../sass/tabs.sass */
/* line 15, ../../src/sass/partials/_tabs.sass */
ul.primary, ul.secondary {
  width: 99%;
}
/* line 17, ../../src/sass/partials/_tabs.sass */
ul.primary {
  margin: 0;
  padding: 0 0 0 10px;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: url(../images/tabs/tab-bar.png) repeat-x left bottom;
}
/* line 25, ../../src/sass/partials/_tabs.sass */
ul.primary li {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 29, ../../src/sass/partials/_tabs.sass */
ul.primary li.active a {
  border-width: 0;
  color: black;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left 0;
}
/* line 34, ../../src/sass/partials/_tabs.sass */
ul.primary li.active a:hover {
  border-width: 0;
  color: black;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left 0;
}
/* line 39, ../../src/sass/partials/_tabs.sass */
ul.primary li.active a .tab, ul.primary li.active a:hover .tab {
  background: url(../images/tabs/tab-right.png) no-repeat right 0;
}
/* line 41, ../../src/sass/partials/_tabs.sass */
ul.primary li a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px;
  border-width: 0;
  font-weigh: bold;
  text-decoration: none;
  color: #777777;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left -38px;
}
/* line 52, ../../src/sass/partials/_tabs.sass */
ul.primary li a:hover {
  border-width: 0;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left -76px;
}
/* line 56, ../../src/sass/partials/_tabs.sass */
ul.primary li a:hover .tab {
  background: url(../images/tabs/tab-right.png) no-repeat right -76px;
}
/* line 58, ../../src/sass/partials/_tabs.sass */
ul.primary li a .tab {
  display: block;
  height: 20px;
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: url(../images/tabs/tab-right.png) no-repeat right -38px;
}
/* line 66, ../../src/sass/partials/_tabs.sass */
ul.secondary {
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: 1px solid silver;
  list-style: none;
  white-space: nowrap;
  background: url(../images/tabs/tab-secondary-bg.png) repeat-x left bottom;
}
/* line 73, ../../src/sass/partials/_tabs.sass */
ul.secondary li {
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none;
}
/* line 78, ../../src/sass/partials/_tabs.sass */
ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid silver;
  text-decoration: none;
  color: #777777;
  background: url(../images/tabs/tab-secondary.png) repeat-x left -56px;
}
/* line 87, ../../src/sass/partials/_tabs.sass */
ul.secondary a .active {
  border: 1px solid silver;
  color: black;
  background: url(../images/tabs/tab-secondary.png) repeat-x left top;
}
/* line 91, ../../src/sass/partials/_tabs.sass */
ul.secondary a .active:hover {
  border: 1px solid silver;
  color: black;
  background: url(../images/tabs/tab-secondary.png) repeat-x left top;
}
/* line 95, ../../src/sass/partials/_tabs.sass */
ul.secondary a:hover {
  background: url(../images/tabs/tab-secondary.png) repeat-x left bottom;
}
/* line 97, ../../src/sass/partials/_tabs.sass */
ul.secondary a .tab {
  display: block;
  height: 18px;
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}

/* Layout General grid */
/* line 17, ../../src/sass/brutus.sass */
#page, #header-top-wrapper, #footer-bottom-wrapper {
  width: 960px;
  margin: 0 auto;
}

/* line 21, ../../src/sass/brutus.sass */
#header, #footer, #main, #navigation, #header-top-inner, #footer-bottom-inner, .breadcrumb {
  width: 940px;
  margin: 0 10px;
}

/* line 25, ../../src/sass/brutus.sass */
#content {
  float: left;
  width: 100%;
  margin-right: -100%;
}

/* line 30, ../../src/sass/brutus.sass */
.sidebar {
  float: left;
}

/* line 33, ../../src/sass/brutus.sass */
#sidebar-second {
  float: right;
}

/* line 36, ../../src/sass/brutus.sass */
#footer {
  float: none;
  clear: both;
}

/* line 40, ../../src/sass/brutus.sass */
#header, #footer, #navigator, .mission, .breadcrumb, .node {
  clear: both;
}

/* Sidebars width */
/* line 45, ../../src/sass/brutus.sass */
.two-sidebars .center, .sidebar-left .center {
  margin-left: 180px;
}

/* line 48, ../../src/sass/brutus.sass */
#sidebar-first {
  width: 160px;
  margin: 0 10px;
  margin-left: 0;
}

/* line 53, ../../src/sass/brutus.sass */
.two-sidebars .center, .sidebar-right .center {
  margin-right: 180px;
}

/* line 56, ../../src/sass/brutus.sass */
#sidebar-second {
  width: 160px;
  margin: 0 10px;
  margin-right: 0;
}

/* Columns Inner */
/* line 62, ../../src/sass/brutus.sass */
.block-inner {
  margin: 0 10px;
}

/* line 65, ../../src/sass/brutus.sass */
.inner {
  padding: 0;
}
